@{
    ViewBag.Title = "Exercício";
}

<h2 id="title">@ViewBag.Title</h2>
<p>Exercicio de Fixação</p>

<a href="https://learn.microsoft.com/pt-br/dotnet/csharp/language-reference/builtin-types/integral-numeric-types" target="_blank">C# | TIPOS DE DADOS</a>
