@{
    ViewBag.Title = "LeonardoMateus";
}

<h1>
    O MVC é um padrão de arquitetura de software amplamente utilizado na construção de aplicativos web e desktop. Ele separa o aplicativo em três componentes principais: o modelo, a visualização e o controlador.
</h1>
    
 
